@page "/systemIntegrationProductDetail/{Id:int}"
@inject ProductService ProductService
@inject NavigationManager NavigationManager
@using WEBB.Components
@using WEBB.Data
@using WEBB.Models
<HeadContent>
    <link href="css/pages/more.css" rel="stylesheet" />
</HeadContent>
<PageTitle>HANSolution @(product?.Title ?? "Product Detail")</PageTitle>
<div class="si-container">
    <div class="si-content">
        <h1 class="si-title">S/I</h1>
        <p class="si-description">
            System integration (often abbreviated as "SI") refers to the process of combining<br />
            different subsystems or components into one larger system that functions as a whole.
        </p>
    </div>
    <div class="si-image">
        <img src="/images/systemIntegration-top.png" alt="System Integration" />
    </div>
</div>
<hr class="si-divider" />
<div class="si-container si-detail-container">
    @if (product != null)
    {
        <h1 class="si-product-title">@product.Title</h1>
        <div class="si-product-content-wrapper">
            <div class="si-product-image">
                <img src="@product.ImageUrl" alt="@product.Title" />
            </div>
            <div class="si-product-content">
                <p>@product.Content</p>
            </div>
        </div>
    }
    else
    {
        <p>Loading...</p>
    }
</div>
@code {
    [Parameter]
    public int Id { get; set; }

    private WEBB.Models.Product product;

    protected override async Task OnInitializedAsync()
    {
        product = await ProductService.GetProductById(Id);
    }


}